<!-- footer.html -->
</main>

<footer class="bg text-center text-lg-start footer color">
  <!-- Grid container -->
  <div class="container p-4" style="background-color: #547C64;">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 texto">
        <img class="isotipo" src="img/isotipo.png" alt="isotipo">
        <h5 class="text-uppercase">DISEÑO TOTAL</h5>

        <p>

          Todos los recursos creativos en un sólo lugar.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 texto">
        <br><br>
        <h5 class="text-uppercase">Términos & Condiciones</h5>

        <p>
          Al usar este sitio, usted acepta nuestros términos de uso y nuestra política de privacidad. Es una marca registrada de la Fundación total, Inc.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        
        <img class="img-fb" src="/img/FB.png" alt="">
        <img class="img-twiter" src="/img/twuiter.png" alt="">
        <img class="img-instagram" src="/img/instagram.png" alt="">
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-2 tamaño" style="background-color: #FFFFFF;">
    © 2020 Copyright:
    <a class="text-dark" href="##">Copyright © 2023 Diseño Total | Aviso Legal | Política de Privacidad | Política de Cookies | Condiciones</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>