<%- include('head.ejs') %> 

<main class="container mx-auto">
  <div class="d-flex flex-column align-items-center subirlo">
    <img class="img img-alternativa img-logo" src="/img/logo.PNG" alt="Descripción de la imagen" />

    <form class="d-flex col-12" action="/totalProducto" method="get">
      <input class="form-control me-2 input" type="search" placeholder="Plantillas o Recursos..." aria-label="Buscar" id="keyword" name="keyword" >
      <button class="btn btn-success" type="submit">Buscar</button>
    </form>
  </div>
</main>

<%- include('footer.ejs') %> 