<%- include('head.ejs') %> 

<body class="fondo">
  <div id="texto-container">
    <div id="texto">Transforma tus diseños en obras de arte con nuestros recursos digitales a sólo $1 dólar✨ </div>
  </div>
    <script>
      function desplazarTexto() {
        const texto = document.getElementById("texto");
        let posicion = 0;
        function animacion() {
          posicion += 0.2;
          texto.style.transform = `translateX(${posicion}%)`;
          if (posicion > 150) {
            posicion = -100;
          }
          requestAnimationFrame(animacion);
        }
        requestAnimationFrame(animacion);
      }
      desplazarTexto();
    </script>
<main class="container mx-auto">
  

  <div class="d-flex flex-column align-items-center subirlo">
    <img class="img img-alternativa img-logo" src="/img/logo.PNG" alt="logo" />

    <form class="d-flex col-6" action="/totalProducto" method="get">
      <input class="form-control me-2 " type="search" placeholder="Busca tu recurso ..." aria-label="Buscar" id="keyword" name="keyword" >
      <button class="btn btn-lg btn-success" type="submit"><i class="bi bi-search"></i> Buscar </button>
    </form>
  </div>
</main>

<%- include('footer.ejs') %> 